<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Log Uploader</title>
    </head>    
    <body>

        <div>
            <form method="POST" enctype="multipart/form-data" action="/">
                <p>Envie o log para ser analisado:</p>
                <p><input type="file" name="log" /></p>
                <p><input type="submit" value="Enviar" /></p>
            </form>
        </div>

        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>

        <hr />
        
        <h2>Reports</h2>
        <h3>Top URLs</h3>
        <div th:unless="${#lists.isEmpty(urlsReport)}">
            <dl th:each="row : ${urlsReport}">
                <dt>
                    <span th:text="${row.value}">URL</span> - <span
                        th:text="${row.count}">Count</span>
                </dt>
            </dl>
        </div>
        <div th:if="${#lists.isEmpty(urlsReport)}">
            <p>...</p>
        </div>
    </body>
</html>