<html>
    <head>
        <title>Log Reader</title>
    </head>
    <body>
        <h2>Resumo do Log</h2>
        <div th:unless="${#lists.isEmpty(report)}">
            <dl th:each="row : ${report}">
                <dt>
                    <span th:text="${row.url}">URL</span> by <span
                        th:text="${row.code}">Code</span>
                </dt>
            </dl>
        </div>
        <div th:if="${#lists.isEmpty(report)}">
            <p>...</p>
        </div>
    </body>
</html>